<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title text-left>
        <!-- {{dorm.name}} -->
      </ion-title>
      <ion-button (click)="viewLocation()">View Housing Location</ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- <div *ngFor='let d of (dorms | async)'> -->
  <ion-item><ion-text color="danger" ><h1>{{dorm.name}}</h1></ion-text></ion-item>
  <ion-item>
  <ionic5-star-rating #rating
    activeIcon = "star"
    defaultIcon = "star-outline"
    halfIcon = "star-half"
    halfStar = "true"
    activeColor = "#f7ab00"
    defaultColor = "#f7ab00"
    readonly = "true"
    rating = "{{dorm.averagestars ? dorm.averagestars : 0}}"
    fontSize = "32px">
  </ionic5-star-rating>
  </ion-item>
  <ion-item>
    <ion-text>
      <h2>Basic Information</h2>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-text><p>{{dorm.description}}</p></ion-text>
  </ion-item>
  <ion-item>
    <ion-img [src]="dorm.img"></ion-img>
  </ion-item>
<!-- </div> -->
  <!-- User Reviews -->
  <ion-item>
    <ion-text slot="start">
      <h2>User Reviews</h2>
    </ion-text>
    <ion-button color="success" (click)="addReview(dorm)" slot="end">Leave a Review?</ion-button>
  </ion-item>

  <ion-item class="review" *ngFor="let review of (reviews | async)">
    <div>
    <div class="rating">
    <ionic5-star-rating #rating
                        activeIcon = "star"
                        defaultIcon = "star-outline"
                        activeColor = "#f7ab00"
                        defaultColor = "#f7ab00"
                        readonly = "true"
                        rating = "{{review.stars ? review.stars : 0}}"
                        fontSize = "30px">
    </ionic5-star-rating>
    </div>
    <div>
      <ion-item>"{{review.text}}"</ion-item>
    </div>
    </div>
  </ion-item>

</ion-content>
