<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title>Add a review</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list inset="true">

  <ion-item>
  <ion-label>Dorm</ion-label>
  <ion-select [(ngModel)]="dorm" [compareWith]="compareWithFn" placeholder="Select One">
    <ion-select-option *ngFor = "let d of (dorms | async)" [value]="d">{{d.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
   <ion-textarea rows="7" name="review.text" [(ngModel)]="review.text" placeholder="Write your review here..."></ion-textarea>
  </ion-item>


<ion-item>
  <ion-label>How many stars?</ion-label>
    <form name="stars" [formGroup]="starform">
    <ionic5-star-rating #rating
      activeIcon = "star"
      defaultIcon = "star-outline"
      halfIcon = "star-half"
      halfStar = "true"
      activeColor = "#f7ab00"
      defaultColor = "#f7ab00"
      readonly = "false"
      rating = "0"
      fontSize = "32px"
      (ratingChanged)="logRatingChange($event)"
      formControlName="stars">
    </ionic5-star-rating>
   </form>

  </ion-item>

</ion-list>

<ion-button expand="block" (click)="submitItem()">Submit</ion-button>

</ion-content>
