<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title text-left>
        Dorms
      </ion-title>
      <ion-buttons slot="end">
        <ion-button slot="end"(click)="viewLocation()">View Locations</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-list>
    <ion-item *ngFor="let dorm of (dorms | async)">
      <ion-thumbnail slot="start">
        <ion-img [src]="dorm.thumbnail"></ion-img>
      </ion-thumbnail>
      <ion-label (click)="viewDorm(dorm)">{{dorm.name}}</ion-label>
      <ionic5-star-rating #rating
        activeIcon = "star"
        defaultIcon = "star-outline"
        halfIcon = "star-half"
        halfStar = "true"
        activeColor = "#f7ab00"
        defaultColor = "#f7ab00"
        readonly = "true"
        rating = "{{dorm.averagestars ? dorm.averagestars : 0}}"
        fontSize = "32px">
      </ionic5-star-rating>
      <ion-label>{{dorm.averagestars ? '(' + dorm.averagestars + ' / 5)' : ''}}</ion-label>
      <ion-label>{{dorm.numberofreviews ? dorm.numberofreviews : 0}} reviews</ion-label>
    </ion-item>
    </ion-list>
</ion-content>
