ion-item:hover {
  cursor: pointer;
}

ion-item {
  --inner-padding-end: 0px;
  --padding-start:0px
}

.dorm {
  height: 25%;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.dormname {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 25px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  background:	rgba(64,64,64,.85);
}

.rating {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 35px;
  background:	rgba(64,64,64,.85);
}
